

.content {
  display: flex;
  flex-direction: column
  ;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: top;
  width: 90%;
  gap: 40px;
  height: 100%;
  padding: 50px 0;

}

h2 {
  font-size: 2em;
  font-family: "Bronkoh-Heavy";
  color: #f4bb49;
  margin: 0;
  padding: 0;
  border-bottom: #f4bb49 2px solid;
  /* text-align: center; */
}

.Etapa {
  padding-top: 20px;
  font-size: 1.6em;
  font-family: "Bronkoh-Heavy";
  color: #f4bb49;
  border-bottom: #f4bb49 2px solid;
  margin: 10px;
}
.campo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista ul {
  list-style: circle;
}

.lista li {
    margin-bottom: 20px;
}

.lista a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
}

.lista a:hover {
  text-decoration: underline;
  transition: 0.2s;
  color: #f4bb49;
}

.cronograma{
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  gap: 40px;
}

.cronograma img{
  width: 100%;
  height: auto;
}

.programacao{
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  gap: 40px;
}

.programacao .head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 40px;

}

.programacao .head h1{
  margin-top: 20px;
  font-size: 3em;
  font-family: "Bronkoh-Heavy";
  color: #003c70;;
}

.programacao .head h2{
  font-size: 2em;
  font-family: "Bronkoh-Heavy";
  color: #f4bb49;
  margin: 0;
  padding: 0;
  border-bottom: none;
}






@media screen and (max-width: 768px){
  .content {
    flex-direction: column;
    gap: 20px;
  }

  .campo {
    gap: 10px;
  }

  .lista {
    gap: 5px;
  }


  .programacao{
    width: 100%;
  }

  .cronograma{
    width: 100%;
  }
}