/* Estilos gerais */
nav {
    background-color: #ffffff;
    color: #173f73;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    height: 80px;
    box-sizing: border-box; /* Garantir que o padding não afete a largura do nav */
}

.logo img {
    width: 150px;
}

.menu-toggle {
    display: none;
}

/* Estilos do menu */
.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    color: #173f73;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.menu ul li a:hover {
    text-decoration: underline;
}

/* Estilos do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    color: #173f73;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

/* Exibir o dropdown ao clicar */
.dropdown-content.show {
    display: block;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translateY(16px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-16px);
}

/* Estilos para telas menores */
@media screen and (max-width: 1095px) {
    nav {
        flex-direction: row; /* Mantém a disposição horizontal no mobile */
        justify-content: space-between; /* Mantém a logo e o menu toggle nas extremidades */
        align-items: center;
        width: 100%;
    }

    .logo {
        flex: 1; /* Mantém a logo em uma linha própria */
        display: flex;
        justify-content: flex-start;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 20px; /* Adiciona espaçamento para o menu toggle */
    }

    .menu-toggle span {
        width: 30px;
        height: 4px;
        background-color: #173f73;
        margin: 4px 0;
        transition: 0.3s;
    }

    .menu {
        width: 100%;
        position: absolute;
        top: 80px; /* Ajustado para a altura do nav */
        left: 0;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        width: 90%;
        text-align: left;
    }

    .menu ul li a {
        padding: 15px 0;
        width: 100%;
    }
}
